/*.container-main {
	background-color: rgba(0,210,255,0.01);
}*/

.container-title {
	display: flex;
	justify-content: center;
	background-color: #00D2FF;
	border: solid 2px;
	margin-left: 400px;
	margin-right: 400px;
	border-radius: 20px;

}

.container-view-or-take {
	display: flex;
	justify-content: center;
	margin-top: 10px;
}

.divider {
	width: 10px;
	height: auto;
	display: inline-block;
}

.btn-view-student {
	width: 250px;
	padding: 12px 12px;
	font-size: 24px;
	border-radius: 20px;
	background-color: rgba(0,210,255,0.7);
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.btn-take-notes {
	width: 250px;
	padding: 12px 12px;
	font-size: 24px;
	border-radius: 20px;
	background-color: rgba(0,210,255,0.7);
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.container-select-student {
	display: flex;
	visibility: hidden;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 10px;
}

.btn-select-student {
	margin-top: 5px;
	width: 200px;
	border-radius: 5px;
	font-size: 18px;
	background-color: rgba(0,210,255,0.2);
}

.btn-select-student:hover, .btn-select-student:focus {
	background-color: #2980B9;
}

.btn-save:hover, .btn-save:focus {
	background-color: #2980B9;
}

.btn-cancel-note:hover, .btn-cancel-note:focus {
	background-color: #2980B9;
}

.dropdown-content {
	display: flex;
	flex-direction: row;
	visibility: hidden;
	margin-top: 10px;
}

.btn-dropdown-name {
	display: flex;
	font-size: 18px;
	border-radius: 3px;
}

.btn-update, .btn-delete {
	font-size: 12px;
	width: 70px;
	height: 30px;
	border-radius: 5px;
}

.btn-update-item, .btn-delete-item {
	height: 24px;
	border-radius: 4px;
}

.btn-dropdown-name:hover, .btn-dropdown-name:focus {
	background-color: #2980B9;
}

.btn-del-item:hover, .btn-del-item:focus {
	background-color: #2980B9;
}

.btn-update-item:hover, .btn-update-item:focus {
	background-color: #2980B9;
}

.btn-update:hover, .btn-update:focus {
	background-color: #2980B9;
}

.btn-delete:hover, .btn-delete:focus {
	background-color: #2980B9;
}

.btn-return-to-large-view:hover, .btn-return-to-large-view:focus {
	background-color: #2980B9;
}

.btn-add {
	width: 70px;
	height: 30px;
	border-radius: 5px;
	margin-top: 10px;
}

.title {
/*	width: 250px;
	padding: 12px 12px;*/
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
/*	font-size: 24px;*/
	border-radius: 20px;
	background-color: rgba(0,210,255,0.9);
}

.show-students {display:block;}

.container-workspace {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

.container-view-notes {
	display: flex;
	flex-direction: column;
/*	margin-left: 200px;*/
	height: 650px;
	width: 500px;
	border: solid 3px;
	border-radius: 5px;
}

.container-notes {
	display: flex;
	flex-direction: column;
	height: 650px;
	width: 700px;
	border: solid 3px;
	border-radius: 5px;
	background-color: rgba(0,210,255, 0.1);
}

.container-notes-title {
	display: flex;
	margin-left: 5px;
}

.container-form {
	display: flex;
	flex-direction: column;
	margin-top: 5px;
	margin-left: 3px;
	width: 100px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif
}

.delete-warning {
	display: flex;
	font-color: red;
}

.form-btns {
	display:flex;
	justify-content: center;
	/*font-family: Times New Roman, serif;*/
	flex-direction: row;
	margin-left: 10px;
	margin-bottom: 5px;
	border-radius: 3px;
}

.btn-save {
	width: 200px;
	height: 25px;
	margin-right: 3px;
	border-radius: 3px;
}

.btn-cancel-note {
	width: 200px;
	height: 25px;
	margin-right: 3px;
	border-radius: 3px;
}

.btn-confirm-cancel {
	visibility: hidden;
	width: 200px;
	height: 25px;
	background-color: rgba(255, 0, 0, 0.6);
	border-radius: 3px;
}


.submission-area {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 12px;
}

.display-large-view {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	background-color: rgba(0,210,255,0.1);
	border: solid 2px;
	width: 1200px;
}

.input-name {
	width: 200px;
}

.input-date {
	width: 200px;
}

.input-instrument {
	width: 200px;
}

/*.input-piece {
	width: 300px;
}*/

.input-tonalization {
	width: 500px;
	height: 25px;
}

.input-scales {
	width: 500px;
	height: 25px;
}

.input-etude {
	width: 500px;
	height: 25px;
}

.input-review {
	width: 500px;
	height: 25px;
}

.input-working-piece {
	width: 500px;
	height: 25px;
}

.input-reading {
	width: 500px;
	height: 25px;
}

.text-instructions {
	display: flex;
	justify-content: center;
	margin-top: 30px;
	font-size: 20px;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif
}

.temp-name, .temp-date, .temp-instrument, .temp-tonalization, .temp-scales, .temp-etude,
.temp-review, .temp-working-piece, .temp-reading {
	font-family: Coronetscript, cursive;
	font-size: 20px;
	font-weight: 949;

}

.inline-notes, .temp-notes {
	font-family: Coronetscript, cursive;
	font-weight: 300;
	font-size: 16px;

}

.notes-data {
	margin-top: 3px;
	margin-left: 3px;

}

.container-view-notes {
	background-color: rgba(0,210,255, 0.1);
}



input {
		background-color: rgba(224,255,255, 0.4);
		margin-bottom: 2px;
		border-radius: 5px;
		border: 0.25px solid;
		height: 30px;
}

input:hover {
	background-color: rgba(0,210,255, 0.6);
}

.display-data-item {
	/*font-weight: 550;*/
}

.container-large-view-data {
	display: grid;
	font-family: "Lucida Console";
	margin-top: 5px;
	margin-left: 5px;
	grid-template-rows: 60px repeat(7, 40px);
	grid-template-columns: repeat(8, auto);
	align-content: space-around;
}

.container-large-view-btns {
	margin-top: 5px;
	margin-left: 5px;
	height: 25px;
}

.display-data-name {
	margin-top: 5px;
	margin-left: 5px;
	font-family: "Lucida Console", Monaco, monospace;
}

.success {
	display: flex;
	align-self: center;
}

/*.item-a {
  grid-column: 1 / 5;
  grid-row: 1 / 6;
}
.item-b {
  grid-column: 2 / 5;
  grid-row: 1 / 6;
}
.item-c {
  grid-column: 3 / 5;
  grid-row: 1 / 6;
}
.item-d {
  grid-column: 4 / 5;
  grid-row: 1 / 6;
}
.item-e {
  grid-column: 5 / 5;
  grid-row: 1 / 6;
}
.item-f{
  grid-column: 1 / 5;
  grid-row: 2 / 6;
}
.item-g {
  grid-column: 1 / 5;
  grid-row: 3 / 6;
}
.item-h {
  grid-column: 1 / 5;
  grid-row: 4 / 6;
}*/




















