.container-title {
	display: flex;
	justify-content: center;
	border: solid 2px;
	margin-left: 400px;
	margin-right: 400px;
	border-radius: 20px;

}

.container-view-or-take {
	display: flex;
	justify-content: center;
	margin-top: 50px;
}

.divider {
	width: 10px;
	height: auto;
	display: inline-block;
}

.btn-view-student {
	width: 250px;
	padding: 16px 16px;
	font-size: 32px;
	border-radius: 20px;
}

.btn-take-notes {
	width: 250px;
	padding: 16px 16px;
	font-size: 32px;
	border-radius: 20px;
}

.container-select-student {
	display: flex;
	visibility: hidden;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 30px;
}

.btn-select-student {
	width: 200px;
	padding: 5px 5px;
	font-size: 22px;
}

.btn-select-student:hover, .btn-select-student:focus {
	background-color: #2980B9;
}

.dropdown-content {
	display: flex;
	flex-direction: row;
	visibility: hidden;
}

.btn-dropdown-name {
	display: flex;
	font-size: 18px;
	border-radius: 3px;
}

.btn-dropdown-name:hover, .btn-dropdown-name:focus {
	background-color: #2980B9;
}

.btn-del-item:hover, .btn-del-item:focus {
	background-color: #2980B9;
}

.show-students {display:block;}

.container-workspace {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

.container-view-notes {
	display: flex;
	flex-direction: column;
/*	margin-left: 200px;*/
	height: 350px;
	width: 500px;
	border: solid 3px;
	border-radius: 5px;
}

.container-notes {
	display: flex;
	flex-direction: column;
/*	margin-left: 200px;*/
	height: 350px;
	width: 500px;
	border: solid 3px;
	border-radius: 5px;
}

.container-notes-title {
	display: flex;
	margin-left: 5px;
}

.container-form {
	display: flex;
	flex-direction: column;
	margin-top: 5px;
	width: 100px;
}

.delete-warning {
	display: flex;
	font-color: red;
}

.btn-cancel-note {
	display: flex;
	margin-top: 100px;
	border-radius: 3px;
}

.btn-confirm-cancel {
	margin-top: 3px;
	border: 2px solid;
	background-color: #FF5733;
	font-size: 24px;
	height: 45px;
}
























